/*
 * Ferris Sweep (Cradio) - ZMK keymap
 *
 * Layer 0 BASE:
 *   Q  W  E  R  T    Y  U  I  O  P
 *   A  S  D  F  G    H  J  K  L  ;
 *   Z  X  C  V  B    N  M  ,  .  SFT/SL
 *        GUI/` SPC/1    BSPC/2 ALT/TAB
 *
 * Layer 1 NAV/NUM (hold left thumb):
 *   1  2  3  4  5    6  7  8  9  0
 *  ESC OSM-CTL OSM-SFT _  END  LFT DN UP RT  '
 *   _  _  ?   _   _    _   _   _   _  ENT
 *        _   _         _   _
 *
 * Layer 2 SYM/FN (hold right thumb):
 *   F1 F2 F3 F4 F5   F6  F7 F8 F9 F10
 *  TAB _  _  "  {     -   =  [  ]  |
 *   _  _  _  '  }     _   +  _  _  BOOT
 *        _  _          _   _
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <285>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BASE";
            bindings = <
                &kp Q           &kp W        &kp E        &kp R        &kp T
                &kp Y           &kp U        &kp I        &kp O        &kp P
                &kp A           &kp S        &kp D        &kp F        &kp G
                &kp H           &kp J        &kp K        &kp L        &kp SEMICOLON
                &kp Z           &kp X        &kp C        &kp V        &kp B
                &kp N           &kp M        &kp COMMA    &kp DOT      &mt LSHIFT SLASH
                &mt LGUI GRAVE  &lt 1 SPACE
                &lt 2 BSPC      &mt LALT TAB
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
                &kp N1   &kp N2    &kp N3     &kp N4    &kp N5
                &kp N6   &kp N7    &kp N8     &kp N9    &kp N0
                &gresc   &sk LCTRL &sk LSHIFT &trans    &kp END
                &kp LEFT &kp DOWN  &kp UP     &kp RIGHT &kp SQT
                &trans   &trans    &kp QMARK  &trans    &trans
                &trans   &trans    &trans     &trans    &kp ENTER
                &trans   &trans
                &trans   &trans
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4   &kp F5
                &kp F6  &kp F7  &kp F8  &kp F9   &kp F10
                &kp TAB &trans  &trans  &kp DQT  &kp LBRC
                &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp PIPE
                &trans  &trans  &trans  &kp SQT  &kp RBRC
                &kp UNDER &kp PLUS &trans &trans &bootloader
                &trans  &trans
                &trans  &trans
            >;
        };
    };
};
